@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family:'Nunito', sans-serif;
    color:  #222222;

}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

#topo {
    width: 100%;
    background:  rgb(18, 42, 178);
    padding-top: 10px;
}

#topo ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 auto;
    max-width: 960px;
}

#topo ul li {
    color: white;
    margin: 0px 10px 10px 10px;
}

.link {
    text-decoration: none;
    color: white;
}

#box-menu {
    background-color: rgb(44, 112, 255);
}

nav {
    max-width: 960px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0px;
}

nav .link-logo {
    color: white;
    text-decoration: none;
    font-size: 2.25em;
    font-weight: bold;
    margin: 0px 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul .link {
    margin: 10px;
    font-size: 1.3em;
    display: block;
}

nav ul .link:hover {
    color: rgb(5, 5, 250);
}

#primeiro-titulo {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

.titulo {
    font-size: 3em;
    line-height: 1;
}

#box-sobre{
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px;
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid rgb(44, 112, 255);
    border-bottom: 2px solid rgb(44, 112, 255);
}

.subtitulo {
    font-size: 3em;
    padding-bottom: 24px;
}

.artigo-sobre {
margin: 0px 10px;
flex: 2 1 300px;
}

.artigo-sobre p {
    font-size: 1.3em;
    color: #7C7C7C;
    padding-bottom: 20px;
    line-height: 1.3;
}

.img-sobre {
    margin: 0 10px;
    flex: 1 1 160px;
}

#produtos{
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 60px;
}

#produtos .subtitulo {
    margin: 60px 10px;
}

.box-produtos-img {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.produtos-item {
    flex: 1 1 175px;
    padding: 10px;
}

.produtos-item.purple figcaption {
    background: #F7F7F7;
    border-top: 8px solid  #AE81FF;
}
.produtos-item.pink figcaption {
    background: #F7F7F7;
    border-top: 8px solid #F9265E;
}

.produtos-item.blue figcaption {
    background-color: #F7F7F7;
    border-top: 8px solid  #66D9EB;
}

.produtos-item figcaption h3 {
    color:  #A4A4A4;
    font-size: 3em;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}

    #box-valores {
    background: #F7F7F7;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 60px;
}

    .valor {
        border: 4px solid white;
        flex: 1 1 160px;
        padding: 20px;
        margin: 10px;
    }

    .cores {
        color: #A4A4A4;
        font-size: 3em;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .preço {
        font-size: 3em;
        font-weight: bold;
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        padding: 10px 0px 5px 0px;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        max-width: 300px;
        
    }

    .preço p sup {
        font-size: 1.5rem;
    }

    .beneficios ul {
        margin: 20px auto;
        max-width: 300px;
    }

    .beneficios ul li {
        font-size: 1.2em;
        color: #7C7C7C;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: italic;
    }

    .beneficios ul li::after{
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background:#2C70ff;
    }

    .card-botao {
       border: 4px solid #222222; 
       display: block;
       max-width: 300px;
       margin: 20px auto;
       
    }

    .button {
        padding: 20px;
        display: flex;
        font-weight: bold;
        font-size: 2.20em;
        text-transform: uppercase;
        width: 100%;
    }

    #box-qualidades {
        max-width: 960px;
        margin: 60px auto;
        display: flex;
        flex-wrap: wrap;
    }

    .item-qualidade {
        flex: 1 1 300px;
        margin: 20px 10px;
    }

    .titulo-qualidade {
        font-size: 2.25em;
        color: #A4A4A4;
        text-align: left;
        padding-bottom: 20px;
    }

    .item-qualidade p {
        font-size: 1.25em;
        color: #7C7C7C;
        line-height: 1.4;
    }

    .item-qualidade:nth-of-type(3n+1) .titulo-qualidade::before{
        content:'';
        display: inline-block;
        margin-right: 10px;
        width: 8px;
        height: 30px;
        background:  #AE81FF;
    }

    .item-qualidade:nth-of-type(3n+2) .titulo-qualidade::before{
        content: '';
        display: inline-block;
        height: 30px;
        width: 8px;
        background: #F9265E;
        margin-right: 10PX;
    }

    .item-qualidade:nth-of-type(3n+3) .titulo-qualidade::before{
        display: inline-block;
        content: '';
        height: 30px;
        width: 8px;
        background: rgb(66, 175, 226);
        margin-right: 10px;
    }

    #assinatura {
        display: flex;
       justify-content: center;
        flex-wrap: wrap;
        background:#f1eded;
        padding: 60px calc(100% - 960px / 2 );
    }

    .contato-info{
         flex: 1 1 240px;
         padding: 10px 0;
         margin: 0 10px;
    }
    
    .contato-info p {
        color:#7C7C7C;
        font-size: 1.25em;
        font-style: italic;
        line-height: 1.4;
    }

    .desc-assinatura{
       color: #A4A4A4;
        font-size: 3em;
        text-align: left;
     }
    

    form{
        flex: 2 1 260px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0px;
        margin: 0px 10px;
    }

    form input {
        border: 4px solid #2c70ff;
        padding: 15px 10px;
        font-size: 2.20em;
        font-weight: bold;
        font-style: italic;
        background: transparent;
        border-radius: 0px;
        flex: 3 1 260px;
    }

    form button {
        padding: 15px 10px;
        font-size: 2.25em;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
        color: white;
        background: #2C70ff;
        cursor: pointer;
        flex: 1 1 260px;
    }

    footer {
        background: #2C70ff;
    }

    footer p {
        padding: 75px;
        color:  #122ab2;
        font-size: 2.25em;
        text-align: center;
        width: 100%;
    }

    @media (max-width:800px){
        preço{
            padding-left: 10px;
            padding-right: 10px;
        }

        .ouro{
            order: -1;
        }

        .prata{
            order: 0;
        }

        .cobre {
            order: 1;
        }
    }

    @media (max-width:600px) {
        form button {
            font-size: 1.5em;
        }
    }